<?xml version='1.0' encoding='utf-8'?>
<manifest xmlns:ns0="http://schemas.android.com/apk/res/android">

    <application ns0:allowBackup="true" ns0:label="Phone For Film" ns0:icon="@mipmap/ic_launcher" ns0:roundIcon="@mipmap/ic_launcher_round" ns0:supportsRtl="true" ns0:theme="@style/Theme.PhoneForFilm" ns0:name=".PhoneForFilmApp">

        <activity ns0:name=".view.MainActivity" ns0:exported="true">
            <intent-filter>
                <action ns0:name="android.intent.action.MAIN" />
                <category ns0:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity ns0:name=".view.ChatListActivity" />
        <activity ns0:name=".view.ChatActivity" />
        <activity ns0:name=".view.CallActivity" />
        <activity ns0:name=".view.IncomingCallActivity" />
        <activity ns0:name=".view.LanguageSelectionActivity" />
    </application>

</manifest>