<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.phoneforfilm">

    <application
        android:name=".PhoneForFilmApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhoneForFilm">


        <!-- Hoofdscherm -->
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Chatlijst -->
        <activity
            android:name=".view.ChatListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Contact‑picker -->
        <activity
            android:name=".ui.contact.ContactPickerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>
