<?xml version='1.0' encoding='utf-8'?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.phoneforfilm">

    <application android:allowBackup="true" android:label="@string/app_name" android:theme="@style/Theme.PhoneForFilm" android:supportsRtl="true" android:icon="@mipmap/ic_launcher">

        

        
        <activity android:name=".ui.contact.ContactPickerActivity" android:exported="false" android:screenOrientation="portrait" />

    </application>

</manifest>